@model ProductViewModel

<div class="bg-primary m-1 p-1 text-white"><h4>@Model.category.CategoryName Products</h4></div>

@if (Model.Products.count == 0){
    <p>There are no products.</p>
}
else{
     <ul>
    @foreach (Products Product in Model.Products)
    {
      <li>
                @products.ProductName - @product.ProductId |
      </li>
    }
  </ul>
}